= form_for @bank, layout: :horizontal do |f|
  = f.text_field :bankName, :class => 'form-control'
  = f.text_field :bankNumber, :class => 'form-control'
  = f.text_field :user, :class => 'form-control'
  = f.submit :class => 'btn btn-primary'
