.container
  .page-header
    = link_to new_bank_path, :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Bank
    %h1 Listing banks

  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Bankname
          %th Banknumber
          %th
          %th
          %th

      %tbody
        - @banks.each do |bank|
          %tr
            %td= bank.bankName
            %td= bank.bankNumber
            %td= link_to 'Show', bank
            %td= link_to 'Edit', edit_bank_path(bank)
            %td= link_to 'Destroy', bank, :data => { confirm: 'Are you sure?' }, :method => :delete
